h1 {
  margin: auto;
  width: 400px;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}

div {
  display: flex;
  width: 25%;
  margin: auto;
}
.external_div {
  margin: 10px auto;
  width: 60%;
  border: 3px solid black;
  padding: 10px;
  box-sizing: content-box;
  background-color: rgba(17, 24, 39, 0.753);
}
#month {
  display: block;
  width: 300px;
  margin: 0 auto;
}
label {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  color: aliceblue;
  width: 200px;
  font-size: 16px;
  box-sizing: content-box;
}
#month_label {
  display: block;
  width: 300px;
  margin: 0 auto;
  font-size: 16px;
}
input {
  width: 200px;
  box-sizing: border-box;
}
body {
  background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=628&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 70%);
  padding: 10px;
}

button {
  display: block;
  background-color: #dfe1ff;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: content-box;
  color: #111827;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  touch-action: manipulation;
  width: auto;
  margin: auto;
}

button:hover {
  background-color: #374151;
}

button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  button {
    padding: 0.75rem 1.5rem;
  }
}

table {
  background-color: blue;
}
